 
html{
    background-image: linear-gradient(to right,rgb(5, 1, 0), rgb(53, 5, 1), rgb(5, 1, 0));
    
}
.heading{
    font-size: 50px;
    color: rgb(64, 4, 4);
    text-shadow: -2px -2px 0 rgb(237, 253, 4), 2px -2px 0 rgb(143, 206, 9),
  -2px 2px 0 rgb(205, 251, 2), 2px 2px 0 rgb(139, 191, 6);
  text-align: center;
}
.image{
    border-radius: 70%;
    border: solid rgb(97, 2, 2);
    border-width: 4px;
    height: 30vh;
    margin-left: 43%;
    
}
.introduction{
    background-image: linear-gradient(to right,rgb(5, 1, 0), rgb(130, 14, 3), rgb(5, 1, 0));
}
.name{
   color: rgb(91, 10, 3);
   font-size: 30px;
   text-shadow: -2px -2px 0 rgb(1, 255, 251), 2px -2px 0 rgb(1, 208, 255),
  -2px 2px 0 rgb(0, 247, 222), 2px 2px 0 rgb(1, 242, 246);
  text-align: center;
  
}
.Education{
    color: white;
    font-size: 25px;
   
}

.edu{
    font-size: 20px;
    list-style-type: style type none;;
}
p{
    color: whitesmoke;
    font-size: 20px;
}
.skill{
    color: white;
}
.bar{
    background-color: rgb(55, 53, 53,0.5);
    width: 600px;
    height: 15px;
    border-radius: 50px;
}
.bar div{
    width: 0%;
    height: 15px;
    border-radius: 50px;
    /* background-color: rgb(249, 8, 8); */
}
.bar div span{
    height: 30px;
    width: 30px;
    border-radius: 70%;
    background-color: rgb(76, 2, 2);
    float: right;
    margin-top: -8px;
    margin-right: -20px;
    color: rgb(255, 247, 247);
    font-size: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    border: solid white;
}
.html{
    background-color: aqua;
    animation: html 1s linear forwards;
}
@keyframes html {
    100%{
        width: 80%;
    }
}
.css{
    background-color: rgb(158, 191, 13);
    animation: css 1s linear forwards;

}
@keyframes css {
    100%{
        width: 60%;
    }
}
.js{
    background-color: rgb(13, 191, 28);
    animation: js 1s linear forwards;
}
@keyframes js {
    100%{
        width: 60%;
    }
}
.java{
    background-color: rgb(11, 20, 177);
    animation: java 1s linear forwards;
}
@keyframes java {
    100%{
        width: 55%;
    }
}
.database{
    background-color: rgb(231, 9, 9);
    animation: database 1s linear forwards;
}
@keyframes database {
    100%{
        width: 60%;
    }
}
.php{
    background-color: rgb(236, 14, 203);
    animation: php 1s linear forwards;
}
@keyframes php {
    100%{
        width: 60%;
    }
}
.python{
    background-color: rgb(236, 147, 14);
    animation: python 1s linear forwards;
}
@keyframes python {
    100%{
        width: 50%;
    }
}
.c{
    background-color: rgb(158, 6, 239);
    animation: c 1s linear forwards;
}
@keyframes c {
    100%{
        width: 40%;
    }
}